<h1>Old HN</h1>
<ul>
    <li>new</li>
    <li>past</li>
    <li>comments</li>
    <li>ask</li>
    <li>show</li>
    <li>jobs</li>
</ul>
<ol>
    {{#stories}}
    <li>{{>hnitemsummary}}</li>
    {{/stories}}
</ol>
