{{#kids}}
{{^deleted}}
<li class="js-comment">
    <div><button class="js-collapse" onclick="onCollapseClick(this)" href="javascript:void(0)" style="margin-right: 8px;">-</button> {{by}}<small> | {{relative_time}}</small></div>
    <div class="js-comment-text">{{&text}}</div>
    <ul class="js-comment-list">
        {{>hncomment}}
    </ul>
</li>
{{/deleted}}
{{/kids}}